@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.direcionais {
    width: 15vw;
    height: 15vw;
}

table, tr, td {
  border: none;
}

.m2BotaoSetas{
  width: 100%;
  height: 100%;
  min-height: 10vw;
}

.linhaBotoesM2{
  margin-bottom: -0px !important;
}

.botao{
  font-size: 18px;
  font-weight: bold;
}

#logo-indoortech{
  width: 35%;
}

#titulo-card{
  color: black;
  font-size: 34px;
  font-weight: 600;
}

#texto-card{
  font-size: 20px;
}

.margemBotoesMenu{
  margin-top: 4vw;
}

.page-footer{
  padding-top: 0px !important;
  position: fixed;
  bottom: 0;
  width:100%;
}

textarea {
  resize:none;
  height: 200px;
  bottom: 0;
}

#terminal, #campo-enviar{
  color: white;
}

#joystick-esquerda{
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: transparent;
  z-index: 5;
}

#joystick-direita{
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: transparent;
  z-index: 5;
}

.alignJoystick{
  margin-left: 40%;
  margin-top: 60px;
}

.centralizarElementoVertical{
  position: relative;
  transform: translateY(180%);
}

#limpar-terminal{
  color: white;
  font-size: 40px;
}
