.direcionais {
    width: 15vw;
    height: 15vw;
}

table, tr, td {
  border: none;
}

.m2BotaoSetas{
  width: 100%;
  height: 100%;
  min-height: 10vw;
}

.linhaBotoesM2{
  margin-bottom: -0px !important;
}
