#logo-indoortech{
  width: 35%;
}

#titulo-card{
  color: black;
  font-size: 34px;
  font-weight: 600;
}

#texto-card{
  font-size: 20px;
}

.margemBotoesMenu{
  margin-top: 4vw;
}

.page-footer{
  padding-top: 0px !important;
  position: fixed;
  bottom: 0;
  width:100%;
}

textarea {
  resize:none;
  height: 200px;
  bottom: 0;
}

#terminal, #campo-enviar{
  color: white;
}
